<%- include ("./partials/header"); %>


<div id="home-main-section" class="">
<div class="row no-gutters ">

  <div class="col-lg-6 left-section">
  <div class="grid mt-5">
    <img src="images/grid1.jpg" alt="">
    <br><br>
    <h1>Grid Builder!</h1>
    <h5>Get a customized grid for your Design....</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  </div>

  <div class="col-lg-6 right-section ">

    <div class="title">
      <h2>Create Your Own Grid...</h2><br>
    </div>
    <div class="d-flex justify-content-center">
    <div class="grid-creator p-4">

      <form action="/" method="POST">
        <div class="form-group ">
          <label for="numberinput">Enter N-no of rows or column of grid</label>
          <input id="numberinput" class="form-control-sm" type="number" name="inputN" min="0" required autocomplete="off"> <br>
        </div>
        <label for="colors">Pick Colors for your Grid</label>
        <div id="colors" class="form-row p-1">
          <div class="col">
          <label for="color1">1st color:</label>
          <input id="color1" class="form-control-sm" type="color" name="color1" required value=""><br>
        </div>
        <div class="col">
          <label for="color2">2nd color:</label>
          <input id="color2" class="form-control-sm" type="color" name="color2" required value=""><br>
        </div>
        <div class="col">
          <label for="color3">3rd color:</label>
          <input id="color3" class="form-control-sm" type="color" name="color3" required value=""><br>
        </div>
        </div>
        <div class="submit-btn m-3">
          <button class="btn" type="submit">Submit</button>
        </div>
      </form>

    </div>
    </div>

  </div>

</div>
</div>


<%- include ("./partials/footer"); %>
