body{
  padding: 0;

}

/* home page */

#home-main-section{
  height: 100vh;
}

/* Left Section */
.left-section{
  background-color: #000421;
  color: #6beffb;
  display: flex;
  justify-content: center;
  height: 100vh;

}
.grid{
  width: 85%;
  padding: 2% 0;
}
.grid img{
  width:  250px;
  height: 150px;
  border-radius: 20px;
}
.grid h1{
  font-size: 3rem!important;
  font-family: 'Courgette', cursive;
  line-height: 2.5;
  margin: 10px 0;
}

/* Right section */
.right-section{
  background-color: #f0f0f3;
  color: #000421;
  text-align: center;
  padding: 40px 20px
}
.right-section h2{
  font-family: 'Heebo', sans-serif;
  font-size: 2.2rem;
  line-height: 2.5;
}
.right-section h2:before{
  content: "";
  height: 2px;
  width: 50px;
  background-color: #6beffb;
  position: absolute;
  top: 115px;
  margin: auto;
  left: 0;
  right: 0;
}
.grid-creator{
  text-align: left;
  width: 70%;
  /* height: 200px; */
  border-radius: 30px;
  background: #ffffff;
  box-shadow:  21px 21px 51px #cfcfcf,
 -21px -21px 51px #ffffff;
}
.submit-btn{
  text-align: center;
}
.grid-creator button{
  background-color: #6beffb;
}
.grid-creator button:hover{
  opacity: .8;
}
#numberinput{
  width: 80px!important;
}

/* grid */

.grid-sol h3{
  font-family: 'Courgette', cursive;
  font-size: 2rem;
  line-height: 2;
  }
.grid-sol button{
  background-color: #6beffb;
}
.grid-sol button:hover{
  opacity: .8;
}
.download-btn{
  text-align: center;
}
